<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{{ title }} - mdwatch</title>
    <style>
      {{ style | safe }}
    </style>
  </head>
  <body>
    <button class="theme-toggle" onclick="toggleTheme()" title="Toggle theme">
      <i class="fa-solid fa-moon"></i>
    </button>
    <article id="content">{{content | safe}}</article>

    <script id="injected-script" type="application/json">
      {{ script | safe }}
    </script>
    <script>
      const code = document.getElementById("injected-script").textContent;
      (0, eval)(code);
    </script>
  </body>
</html>
